@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100&display=swap");
.boop {
  overflow: hidden;
}
.boop {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  overflow-x: hidden;
}

.Login-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  height: 9000px;
  width: 9000px;
  max-width: 100%;
  max-height: 100%;
  padding-top: 100px;
  margin-top: 40px;
  overflow-x: hidden;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/de/1d/df/de1ddf9ee30e08e15460626b919ef87e.jpg"); /* Replace with the URL of your background image */
  background-size: cover;
  background-position: center;
  z-index: 0; /* Send it to the background */
}
.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: #ff5733;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

/* Register form */

.error-message-1 {
  position: absolute;
  top: 18.2rem;
  left: 6rem;
  color: red;
  font-size: 16px;
  text-align: center;
}

.error-message-2 {
  position: absolute;
  top: 26.3rem;
  left: 6rem;
  color: red;
  font-size: 16px;
  text-align: center;
}

.error-message-3 {
  position: absolute;
  top: 34.3rem;
  left: 6rem;
  color: red;
  font-size: 16px;
  text-align: center;
}

.signupButton {
  position: absolute;
  top: 41rem;
  left: 7rem;
  font-size: 23px;
  border-radius: 10px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 200px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.signupButton:active {
  transform: scale(0.95);
}

.signupButton:focus {
  outline: none;
}

.ghost:active {
  transform: scale(0.95);
}

.ghost:focus {
  outline: none;
}
.ghost:hover {
  cursor: pointer;
}
.ghost {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
  border-radius: 20px;
  font-weight: bold;
  padding: 15px 45px;
  margin-top: 59px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.social-container-1 {
  position: absolute;
  top: 3rem;
  margin: 20px 0;
}

.social-container-1 img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}

.create_account {
  position: absolute;
  font-weight: 400;
  margin: 0;
  top: 4rem;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

.signup-name-out {
  position: absolute;
  top: 12rem;
  left: 5.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

.signup-name {
  position: absolute;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 30rem;
  top: 15rem;
  left: 5.5rem;
}

.error_message_name_1 {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 15.8rem;
  left: 36.5rem;
}

.signup-email-out {
  position: absolute;
  top: 20rem;
  left: 5.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

.signup-email {
  position: absolute;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 30rem;
  top: 23rem;
  left: 5.5rem;
}

.error_message_email_1 {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 23.8rem;
  left: 36.5rem;
}

.signup-password-out {
  position: absolute;
  top: 28rem;
  left: 5.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

.signup-password {
  position: absolute;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 30rem;
  top: 31rem;
  left: 5.5rem;
}

.error_message_password_1 {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 31.8rem;
  left: 36.5rem;
}

.agree {
  position: absolute;
  top: 36.5rem;
  left: 7.5rem;
}
.login_account {
  position: absolute;
  top: 39rem;
  left: 12rem;
}
.login_blue {
  position: absolute;
  top: 39rem;
  left: 12rem;
  color: blue;
}
.checkbox {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 36.5rem;
  left: 5.5rem;
}
/* Register form */

/* Login form */
.signIn-account {
  position: absolute;
  font-weight: 400;
  margin: 0;
  top: 4rem;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

.social-container-2 {
  position: absolute;
  top: 4.5rem;
  margin: 20px 0;
}

.social-container-2 img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}
.use-account {
  position: absolute;
  top: 7.5rem;
  font-size: 18px;
  color: black;
}
.login_name_out {
  position: absolute;
  top: 12rem;
  left: 5.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}
.signin-email {
  position: absolute;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 30rem;
  top: 15rem;
  left: 5.5rem;
}

.login_password_out {
  position: absolute;
  top: 21rem;
  left: 5.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;

}

.signin-password {
	position: absolute;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30rem;
	top: 24rem;
	left: 5.5rem;
  
}

.error-message-4 {
  position: absolute;
  top: 14.3rem;
  left: 45px;
  color: red;
  font-size: 14px;
  text-align: center;
}
.error-message-5 {
  position: absolute;
  top: 20.3rem;
  left: 45px;
  color: red;
  font-size: 14px;
  text-align: center;
}

.forgot-password {
  position: absolute;
  top: 28rem;
  left: 95px;
  font-size: 18px;
  text-decoration: none;
  color: crimson;
}

.signInbtn {
	position: absolute;
	top: 35rem;
	left: 7rem;
	font-size: 23px;
	border-radius: 10px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #ffffff;
	font-weight: bold;
	padding: 20px 200px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.signInbtn:active {
  transform: scale(0.95);
}

.signInbtn:focus {
  outline: none;
}

.akatsuki_logo {
  width: 100px;
  height: 100px;
}

/* Login form */

.toggle-visibility-icon-signup {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 32rem;
  left: 32rem;
}
.toggle-visibility-icon-login {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25.2rem;
  left: 32.6rem;
}
